<div class='row'>
  <div id='about-footer'>
    <span id="footer-left"><%= link_to 'About', '/about' %></span>
    <span id="footer-right"><a href="https://github.com/kahdojay/openPAC">Github</a></span>
  </div>
</div>