<div class='row'>
  <div id='about-footer'>
    <span id="footer-left"><a href="http://openpac.io/about">About</a></span>
    <span id="footer-right"<a href="https://github.com/kahdojay/openPAC">Github</a></span>
  </div>
</div>