<div class='row'>
  <div id='about-footer'>
    <a href="#" data-reveal-id="myModal">What is openPAC?</a>
    <div id="myModal" class="reveal-modal" data-reveal>
      <p class="lead">
      openPAC is a mission to make the government dependent on the people alone. In short, we seek to remove legislators' dependence on big dollar donations by making a platform that makes it easy for citizens to determine where legislators stand on various issues.</p>
      <p>We take two approaches to this end:</p>
      <ol>
        <li>
        Using public data on legislator votes on bills, our data model determines how a legislator tends to vote on a given issue based on keywords. We display this tendency as a 'left-right' spectrum for each politician for a given issue.</li>
        <li>
        We allow users to take 'stances', whereby you present an issue, a position on that issue, and the legislators you believe support that position. Other users can then take action based on those stances, whether by supporting those legislators through our donation page (using the Stripe API), voting for those legislators, or just being more a more well-informed citizen in general.</li>
      </ol>
      "If the problem is members spending an extraordinary amount of time fundraising from the tiniest slice of America, the solution is to have them spend less time fundraising, but fundraise from a wider slice of America." <br>
      - Lawrence Lessig
      </p>
    </div>
  </div>
</div>

<div class='row' align="center" style="font-size">
  <p>© 2015 openPAC, Inc.</p>
</div>