<div class="row">
  <div class="large-12 columns center-text">
      <h1>openPAC</h1>
      <h4>State your position. Take a stance.</h4>
  </div>
</div>

<div class="row">
  <div class="large-8 columns large-centered">
    <input id="homepage-search" type="text" placeholder="Find Stuff">
  </div>
</div>

<div class="row">
  <div class="large-10 columns large-centered">
    <%= image_tag("mapbydistrict.png") %>
  </div>
</div>
<%= button_to "Take a stance", new_stance_path, method: :get %>
