<div class="row">
  <div class="large-12 small-12 columns text-center">
    <div class="large-8 small-8 small-centered large-centered columns">
      <h1><%= image_tag "ekklesia_logo.jpg", size: '700x100' %></h1>
      <hr>
      <h3>Find out the bills you like!</h3>
      <p>See which Bills are relevant to you.</p>
    </div>
  </div>
</div>