<div class='row'>
  <div class='large-6 large-centered center-text columns'>
    <h2>Nice work.</h2>
  </div>
  <div class='large-5 large-centered columns'>
    <p>Your $<%= @charge.amount/100 %>.00 donation is a meaningful contribution to the greater cause of decreasing legislators' dependence on big money.</p>

    <p>A receipt will be emailed to <%= current_user.email %>. <br>In the meantime, learn more about the efforts to increase small dollar funding:</p>


    <iframe src="https://embed-ssl.ted.com/talks/lawrence_lessig_we_the_people_and_the_republic_we_must_reclaim.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

</div>