<table style="width:100%">
  <thead>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Stance</th>
        <th>Legislator</th>
        <th>Date</th>
      </tr>
    </thead>
    <% @donations.each do |d| %>
    <tr>
      <td><%= d.amount %></td>
      <td><%= Stance.find(d.stance_id).position.description %></td>
      <td><%= Legislator.find(d.legislator_id).name %></td>
      <td><%= d.created_at.strftime("%m/%d/%Y") %></td>
    </tr>
    <% end %>
  </thead>
  <tbody>
  </tbody>
</table>