<table>
  <thead>
    <% @donations.each do |d| %>
    <tr>
      <td><%= d.amount %></td>
      <td><%= d.stance_id %></td>
      <td><%= d.legislator_id %></td>
      <td><%= d.created_at %></td>
    </tr>
    <% end %>
  </thead>
  <tbody>
  </tbody>
</table>