<div class="large-4 small-6 columns">
  <div class="panel">
    <img src="http://placehold.it/50x50&text=Thumbnail">
    <img src="http://placehold.it/50x50&text=Thumbnail">

    <p><%= stance.user.username %> believes that <%= stance.legislators.count %> legislators support <%= stance.position.description %></p>

  </div>
</div>