<div class="row">
  <div class="large-3 medium-4 columns">
    <div class="sidebar">
      <nav>
        <ul class="side-nav">
          <li class="heading"><h3>Stances</h3></li>
          <li><a href="/stances/issues/Popular" data-search>Popular</a></li>
          <li><a href="/stances/issues/Recent" data-search>Recent</a></li>
          <li class="divider"></li>
          <li class="heading"><h4>Issues</h4></li>
          <% @issues.each do |issue| %>
            <li><a href="/stances/issues/<%= issue.description %>" data-search><%= issue.description %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <%= render partial: "stances/search_results", locals: {stances: @stances} %>
</div>
