<div class="row">
  <div class="large-3 medium-4 columns">
      <div class="sidebar">
        <nav>
          <ul class="side-nav">
            <h3 class="heading">Issues</h3>
            <% @issues.each do |issue| %>
              <li><a href="#" paramIval="search[:<%= issue.description %>]"> <%= issue.description %> </a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="large-9 medium-8 columns">
      <h3>Stances other users have taken on the issue of <span class='text-red'><%= params[:search][:words] %></span>:</h3>
      <% @stances.each do |stance| %>
        <%= render partial: "stances/details", locals: {stance: stance} %>
      <% end %>
  </div>
</div>