.legislator-checkbox {
  display: none;
}

#stance-create-search {
  padding: 0.4em;
  font-weight: normal;
  font-size: 1.05em;
}

.zero-margin {
  margin: 0 !important;
}

.legislator-pic {
  height: 100px;
  width: 100px;
}
