.range-slider-handle {
  background: transparent !important;
  top: -0.7rem !important;
}

.range-slider {
  height: .5em;
  background: -webkit-linear-gradient(left, rgb(17,69,121) , rgb(227,45,47)) !important;
  background: -o-linear-gradient(right, rgb(17,69,121), rgb(227,45,47)) !important;
  background: -moz-linear-gradient(right, rgb(17,69,121), rgb(227,45,47)) !important;
  background: linear-gradient(to right, rgb(17,69,121) , rgb(227,45,47)) !important; 
}

.bar-face {
  border-radius: 50% !important;
}

.poly-logo {
  height: 3em;
  width: 3em;
  padding: 0;
}

#donkey-logo-div {
  text-align: right;
  padding: 0;
}

.issue_title {
  text-align: center;
}

#bio p {
  margin-bottom: 3px;
}