.row{
  max-width: 80rem;
}

.stance_index_title{
  margin-left: 1em !important;
}

.stance_detail_container{
  margin: 1em 0.5em 1em 1em !important;
  background: white !important;
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
  box-shadow: 2px 2px 7px #B59388;
}

.sidebar{
  padding: 32px 20px;
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
}

.side-nav li a:not(.button){
  color: #2D4372;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}

.stance_detail_list li{
  padding: 0 !important;
}

.stance_detail_container{
  height: 280px !important;
}

.stance_detail{
  padding: 0.3em 1em !important;
  height: 70%;
}

.stance_detail:hover{
  background: transparent !important;
}

.issue_select, .select_list p{
  color: #EDF0E1 !important;
  font-size: 0.9em !important;
  margin-bottom: 0.3em !important;
  padding: 0.5rem !important;
  -webkit-border-radius: 0.2em !important;
  -moz-border-radius: 0.2em !important;
}

ul{
  list-style-type: none !important;
}

.select_list{
  display: -webkit-inline-box !important;
  margin-bottom: .5em;
}

.circle_face{
  border-radius: 50%;
  max-width: 100%;
  height: 5em;
  width: 5em;
  box-shadow: 2px 2px 7px #B59388;
}

.s-detail-footer{
  width: 100%;
  color: #FAFAFA;
  position: relative;
  opacity: 1;
  height: 15%;
  z-index: 500;
  border-top: 1px solid white;
  transition: all 0.5s linear;
  font-size: 1.4em;
  display: flex;
}
.s-detail-footer div{
  display: inherit;
  background: #A9BC64;
  width: 100%;
  display: inline-block;
}

.footer-left{
  border-right: 1px solid white;
}