.row{
  max-width: 80rem;
}

.stance_detail{
  margin: 0.3em !important;
  background: white !important;
  -webkit-border-radius: 2em !important;
  -moz-border-radius: 2em !important;
}

.sidebar{
 background: #FAFAFA;
 padding: 32px 20px;

}

.detail_left{
  text-align: left !important;
  /*font-size: 0.7em !important;*/
}

.panel{

}