<!-- Header and Nav -->
  
  <div class="row">
    <div class="large-6 columns">
      <h1><img src="http://placehold.it/600x600&text=Image" /></h1>
    </div>
    
    <div class="large-6 columns">
      <div class="panel">
        <ul class="no-bullet">
          <li>@politician.title</li>
          <li>@politician.first_name @politician.last_name</li>
          <li>@politician.party</li>
          <li>@politician.district</li>
        </ul>
      </div>

      <div class="panel">
        <p>This is where a bio would go if we could find a better way of seeding our database with said information. I am really looking forward to getting all these parts of the project to start working in unison.</p>
      </div>

      <div class="panel">
        <ul class="no-bullet">
          <li>@politican.website</li>
          <li>@politician.phone</li>
          <li>@politician.fax</li>
          <li>@politician.party</li>
        </ul>
      </div>

    </div>
  </div>
      
<!-- End Header and Nav -->

  <!-- Search Bar -->
     
    <div class="row">

      <div class="large-12 columns">
        <div class="radius panel">

        <form>
          <div class="row collapse">

            <div class="large-10 small-8 columns">
              <input type="text" />
            </div>

            <div class="large-2 small-3 columns">
              <a href="#" class="postfix button expand">Search</a>
            </div>

          </div>
        </form>

        </div>
      </div>

    </div>
     
  <!-- End Search Bar -->


  <div class="row">
    <div class="large-2 columns">
      <%= link_to 'Issue', root_path, method: :get %>
    </div>
    <div class="large-10 columns">
      <div class="range-slider round" data-slider data-options="start: 1; end: 100;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
    </div>
  </div>

   <div class="row">
    <div class="large-2 columns">
      <%= link_to 'Issue', root_path, method: :get %>
    </div>
    <div class="large-10 columns">
      <div class="range-slider round" data-slider data-options="start: 1; end: 100;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
    </div>
  </div>

   <div class="row">
    <div class="large-2 columns">
      <%= link_to 'Issue', root_path, method: :get %>
    </div>
    <div class="large-10 columns">
      <div class="range-slider round" data-slider data-options="start: 1; end: 100;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
    </div>
  </div>

   <div class="row">
    <div class="large-2 columns">
      <%= link_to 'Issue', root_path, method: :get %>
    </div>
    <div class="large-10 columns">
      <div class="range-slider round" data-slider data-options="start: 1; end: 100;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
        <input type="hidden">
      </div>
    </div>
  </div>

